#time-container {
    transform: translateX(0px);
    transition: transform 450ms ease-in-out;
}

/* Digital */
#time {
    display: flex;
    align-items: baseline;
    font-size: 20vw;
    font-weight: 600;
    color: var(--selected);
}

.unit {
    display: none;
}

#hh, #mm, #ss {
    width: 25vw;
    height: 25vw;
    margin-right: 10px;
}

#ss {
    color: var(--primary);
}

.time-block.narrow #hh {
    width: 12.5vw;
    text-align: right;
}

#hour-period {
    font-size: 5vw;
}

/* Analog */
/* Modified from (CodePen)[https://codepen.io/rizz-wan/pen/LYQrGXM] */
.clock {
    background: var(--secondary);
    border-radius: 100%;
    height: 25vw;
    position: relative;
    width: 25vw;
}
  
.minute,
.hour {
    background: var(--selected);
    border: 2px solid var(--selected);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    height: 32.5%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -33%; /* 24% */
    transform-origin: bottom center;
    transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    width: 4px;
}

.minute {
    height: 42.5%;
    top: -42%; /* 47% */
}
  
.second {
    background: var(--primary);
    border: 1px solid var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0px;
    height: 50%;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    top: -39.2%; /* -40.8% */
    transform-origin: 50% 89%;
    transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    width: 2px;
    z-index: 1;
}

.hide-transition {
    transition: none;
}

.axis {
    background: var(--primary);
    border: 2px solid white;
    border-radius: 100%;
    bottom: 0;
    box-shadow: 0 0 0 1px var(--default);
    height: 8px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
}

/* Time zone */
#time-zone {
    text-align: center;
    font-size: 1.25em;
    transition: opacity 100ms ease-in-out;
    color: var(--default);
}

.opaque {
    opacity: 0;
}

@media screen and (min-width: 700px) {
    #time-zone {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 700px) {
    #time-container {
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #time {
        flex-direction: column;
        align-items: center;
    }

    .divider {
        display: none;
    }

    .time-block {
        display: flex;
        width: 100%;
    }

    .unit {
        display: block;
    }

    #time-zone {
        height: 50px;
        margin-top: 2.5vh;
        margin-bottom: 5vh;
    }

    .clock {
        height: 45vw;
        width: 45vw;
    }
}

@media screen and (max-height: 400px) {
    #time-zone {
        margin-bottom: 1em;
    }
}