/* Time */
#time {
    display: flex;
    align-items: baseline;
    font-size: 20vw;
    font-weight: 600;
    color: var(--selected);
}

.unit {
    display: none;
}

#hh, #mm, #ss {
    width: 25vw;
    margin-right: 10px;
}

#ss {
    color: var(--primary);
}

#time-zone {
    text-align: center;
    font-size: 1.25em;
    transition: opacity 100ms ease-in-out;
    color: var(--default);
}

.opaque {
    opacity: 0;
}

.time-block.narrow #hh {
    width: 12.5vw;
    text-align: right;
}

#hour-period {
    font-size: 5vw;
}

@media screen and (min-width: 700px) {
    #time-zone {
        margin-bottom: 2em;
    }
}

/* Responsize styles */
@media screen and (max-width: 700px) {
    #time-container {
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    #time {
        flex-direction: column;
        align-items: center;
    }

    .divider {
        display: none;
    }

    .time-block {
        display: flex;
        width: 100%;
    }

    .unit {
        display: block;
    }

    #time-zone {
        margin-top: 1em;
    }
}

/* Responsize styles */
@media screen and (max-height: 400px) {
    #time-zone {
        margin-bottom: 1em;
    }
}