/* Nav */
nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.city {
    user-select: none;
    cursor: pointer;
    color: var(--default);
    font-weight: 300;
    transition: color 100ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.city:hover {
    color: var(--hover);
}

.city.selected {
    color: var(--selected);
}

/* Slider */
#bar {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: var(--light);
}

#slider {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1px;
    width: 0px;
    background-color: var(--selected);
}

#slider.transition {
    transition: height 300ms ease-in-out,
                width 300ms ease-in-out,
                top 300ms ease-in-out,
                left 300ms ease-in-out;
}

@media screen and (max-width: 700px) {
    .nav-container {
        display: flex;
        height: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    #bar {
        margin-top: 0px;
        margin-left: 10px;
        height: 100%;
        width: 1px;
        background-color: var(--light);
    }
    
    #slider {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 0px;
        width: 1px;
        background-color: var(--selected);
    }
}