:root {
    --primary: rgb(0, 137, 250);
    --primaryLight: rgb(222, 237, 249);
    --secondary: rgb(250, 250, 250);
    --default: darkgray;
    --light: lightgray;
    --hover: rgb(104, 153, 202);
    --selected: #1e1e1e;
}

* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

body {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 375px;
    margin: 0px;
    padding: 30px;
}

#root {
    flex: 1;
    display: flex;
}

@media screen and (max-width: 700px) {
    body {
        flex-direction: row;
        padding-right: 0px;
    }
}

/* Mobile Safari Support */
/* (Reference)[https://www.bram.us/2021/07/08/the-large-small-and-dynamic-viewports/] */
@supports (height: 100dvh) {
    body {
        height: 100dvh;
    }
}